<%= provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	The Back 140 is a reverse-engineered Twitter clone that I put together to learn Ruby on Rails from <a href='http://railstutorial.org'>Michael Hartl's justly famed Rails Tutorial</a>
</p>