<%= provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  Realistically, nobody at The Back 140 is qualified to help you with your problem. Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>