<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>The Back 140</h1>
	<p>This is the home page for The Back 140 Microblog, a work in progress.</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
